/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.main-section {
  margin-top: 120px;
}
/* Navbar */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 4;
  max-width: 200px;
  height: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
  border-radius: unset;
}

.navbar ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.navbar ul .root a img {
  width: 100px;
}

.navbar ul li {
  margin: 20px 0;
}

.navbar ul li:last-child {
  margin-top: auto;
}

.navbar a {
  font-size: 15px;
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

.navbar a:focus {
  text-decoration: none;
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form .form-group {
  margin: 15px 0;
}

.active-loader {
  top: 0;
  left: 0;
  justify-content: center;
  display: flex;
  text-align: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 3;
  align-items: center;
  opacity: 0.5;
  background: black;
}

.active-loader .loading-icon {
  background: url("./img/loader.gif") no-repeat;
  width: 300px;
  height: 300px;
  display: inline-block;
  background-size: contain;
}
